<html ng-app="chat">
    <head>
        <title>ChatINSPER</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/chat.css"
    </head>
    <body ng-controller="ChatController">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="jumbotron">
                <h1>ChatINSPER</h1>
            </div>
            <div id="scope-wrap">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-danger"
                        ng-repeat="m in message track by $index"
                        ng-if="$index < (message.length / 2)"
                        ng-class="{system: message[$index * 2] == 'SYSTEM'}">
                        <b>{{message[$index * 2]}}:</b>
                        {{message[$index * 2 + 1]}}
                    </li>
                </ul>
                <form style="width:100%">
                    <div style="width:100%">
                        <input type="text" placeholder="Nome" ng-model="name">
                        <input type="text" placeholder="Converse com seus amigos!" ng-model="msg">
                        <input type="submit" class="btn btn-danger" ng-click="send()">
                    </div>
                </form>
                <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
            </div>
        </div>
        <script src="controller/chat.js"></script>
    </body>
</html>
